<div class="stream-default-box">
  <h5>Boss timer (SEA)</h5>
  <table class="table table-borderless" style="margin-bottom: 5px;">
    <tbody>
      <tr *ngFor="let b of bossList">
        <td class="align-middle">
          <img [src]="boss[b].image.small" [alt]="boss[b].name" height="45" width="45" />
        </td>
        <td class="stream-boss-title align-middle">
          {{ boss[b].name }} </td>
        <td class="stream-boss-timer align-middle">
          <div class="countdown">
            {{ countdown.hours }}:{{ countdown.minutes }}:{{ countdown.seconds }} </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<button (click)="showNotification()">Show Notification</button>
