<div class="stream-default-box">
  <h5>Boss timer (SEA)</h5>
  <table class="table table-borderless" style="margin-bottom: 5px;">
    <tbody>
      <tr *ngFor="let b of bossList">
        <td class="align-middle">
          <img [src]="boss[b].image.small" [alt]="boss[b].name" height="45" width="45" />
        </td>
        <td class="stream-boss-title align-middle">
          {{ boss[b].name }} </td>
        <td class="stream-boss-timer align-middle">
          <div class="countdown">
            {{ countdown.hours }}:{{ countdown.minutes }}:{{ countdown.seconds }} </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="notification-box">
    <input type="checkbox" value="1800" name="30min" id="30min" />
    <label class="text" for="30min">Nofity me before 30 min</label>
  </div>
  <div class="notification-box">
    <input type="checkbox" value="900" name="15min" id="15min" />
    <label class="text" for="15min">Nofity me before 15 min</label>
  </div>
  <div class="notification-box">
    <input type="checkbox" value="0" name="0min" id="0min" />
    <label class="text" for="0min">Nofity me at boss time</label>
  </div>
</div>

<button (click)="showNotification()">Show Notification</button>
